html {
background-color: #FFFFFF;
font-family: sans-serif;
font-size: 130%;
color: #000000;
}
body {
max-width: 40em;
margin-left: auto;
margin-right: auto;
}
h1 {
text-align: center;
font-size: 160%;
}
form .section {
padding: 0.3em 0.5em;
background-color: #DCDCDC;
border: 0.05em solid #E0E0E0;
border-radius: 0.5em;
}
form table {
border-collapse: collapse;
}
form input {
font-family: inherit;
font-size: inherit;
}
form #charset label:hover {
background-color: #F0F0F0;
}
form #charset td {
padding: 0em;
}
form #charset input[type=checkbox] {
margin: 0em;
}
form #charset label {
margin-left: 0.2em;
padding: 0.1em 0.3em 0.1em 0.3em;
border-radius: 0.2em;
}
form #charset small {
font-size: 70%;
color: #A0A0A0;
}
form #type td {
padding: 0.2em 0em;
}
form #type input[type=number] {
text-align: right;
}
form input[type=submit], form input[type=button] {
padding: 0.2em 0.6em;
}
form #password {
margin-left: 0.3em;
padding: 0.1em 0.3em;
background-color: #F8F8F8;
border-radius: 0.2em;
font-family: "Consolas", monospace;
font-size: 140%;
}
p.lowlight {
color: #A0A0A0;
}
hr {
border: none;
border-top: 0.05em solid #B0B0B0;
}
a {
color: inherit;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}